body {
    background: lightgrey;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background: white;
    border-top: solid darkslategray;
}

h1 {
    position: relative;
    padding-top: 22px;
    font-size: 40px;
    padding-right: 8px;
    bottom: 15px;
    color: darkslategray;
    padding-left: 6px;
}

h2 {
    color: darkslategray;
}
a:link {
    color: darkslategray;
    text-decoration: none;
}

a:visited {
    color: darkslategray;
    text-decoration: none;
}
#top {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    height: 58px;
    width: 100%;
    border-bottom: solid darkslategray;
    padding-top: 20px;
}

#top_content {
    position: relative;
    width: 960px;
    margin: auto;
    height: 100%;
}

#name_box {
    float: left;
    width: auto;
    height: 100%;
}

#link_box {
    position: relative;
    width: auto;
    float: right;
    margin-top: 25px;
    border-left: solid 1px gray;
}

#content {
    position: relative;
    width: 960px;
    margin: auto;
    margin-top: 123px;
}

#about_me {
    width: 650px;
    float: left;
}

#about_banner {
    font-size: 30px;
    padding: 10px;
}


#biography {
    font-size: 20px;
    line-height: 37px;
}

#portrait {
    width: 35%;
    height: 36%;
    position: relative;
    float:  left;
    padding: 10px 10px 0 10px;
}
#copyright {
    color: darkslategray;
    text-align: center;
    padding-top: 25px;
    padding-left: 33px;
}

#media_box {
    width: 270px;
    position: relative;
    float: right;
}

#media {
    position: relative;
}

#media_banner {
    font-size: 25px;
    padding: 10px;
}

.text_box {
    padding: 10px;
}

.thumbnail {
    padding: 10px;
    width: 74%;
}

.media_link {
    position: relative;
    float: left;
    width: 33%;
}

.top_link {
    position: relative;
    float: right;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 20px;
    border-right: solid 1px gray;
}

.title_box {
    padding: 10px;
    border-bottom: solid lightgrey .5px;
    margin: 0 20px 0 20px;
}

.content_box {
    position: relative;
    background: white;
    border: solid darkslategray;
}
