body {
    background: lightgrey;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index:  3;
    height: 58px;
    background: white;
    border-top: solid darkslategray;
}

h1 {
    position: relative;
    padding-top: 22px;
    font-size: 50px;
    padding-right: 8px;
    bottom: 43%;
    color: darkslategray;
    padding-left: 6px;
}

h2 {
    color: darkslategray;
}

h5 {color: aliceblue;font-size: 2vw;text-align:  center;margin-top: 4%;}
a:link {
    color: darkslategray;
    text-decoration: none;
}

a:visited {
    color: darkslategray;
    text-decoration: none;
}


#top {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    z-index: 3;
    height: 58px;
    width: 100%;
    border-bottom: solid darkslategray;
    padding-top: 20px;
}

#top_content {
    position: relative;
    width: 74%;
    height: 100%;
    margin: auto;
}

#name_box {
    float: left;
    width: auto;
    margin-top: .5%;
    height: 100%;
}

#link_box {
    position: relative;
    width: auto;
    float: right;
    margin-top: 29px;
    border-left: solid 1px gray;
}

#content {
    position: relative;
    width: 74%;
    margin: auto;
    margin-top: 114px;
}

#about_me {
    width: 66.3%;
    float: left;
    padding-bottom:  10px;
    margin-bottom: 75px;
}

#portfolio_box {
    width: 69.3%;
    float: left;
    margin-bottom: 75px;
}

#about_banner {
    font-size: 3vw;
    padding: 10px;
}


#biography {
    font-size: 20px;
    line-height: 143%;
}

#portrait {
    width: 35%;
    height: 36%;
    position: relative;
    float:  left;
    padding: 10px 10px 0 10px;
}
#copyright {
    color: darkslategray;
    text-align: center;
    padding-top: 25px;
    padding-left: 33px;
}

#media_box {
    width: 29.16%;
    position: relative;
    float: right;
}

#media {
    position: relative;
}

#media_banner {
    font-size: 2vw;
    padding: 10px;
}

#multi_input {
    height: 240px;
    width: 96%;
    position: relative;
    left: 8px;
    margin-bottom: 12px;
}

#submit {
    position: relative;
    float: right;
    margin-right: 12px;
    margin-bottom:  10px;
}

.text_box {
    padding: 10px;
}

.thumbnail {
    padding: 10px;
    width: 74%;
}

.media_link {
    position: relative;
    float: left;
    width: 33%;
}

.top_link {
    position: relative;
    float: right;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 20px;
    border-right: solid 1px gray;
}

.portfolio_item {
    position: relative;
    float: left;
    width: 45%;
    margin: 0 5% 3% 0%;
}

.item_holder {
    width: 95%;
    margin: 20px 0 0 4.3%;
}

.port_image {
    width: 100%;
    border:  solid darkslategray;
}

.title_box {
    padding: 10px;
    border-bottom: solid lightgrey .5px;
    margin: 0 20px 0 20px;
}

.item_banner {
    width: 100%;
    position: absolute;
    float: left;
    background: #2f4f4fcf;
    height: 23%;
    z-index:  2;
    padding-right: 1%;
    bottom: 10%;
}

.content_box {
    position: relative;
    background: white;
    border: solid #2f4f4fd4;
}

.form_prompt {
    font-size: 19px;
    padding: 10px 10px 0 10px;
}

.single_input {
    width: 96%;
    position: relative;
    left: 8px;
    height: 18px;
}


